<div class="topnav" id="myTopnav">
    
    <a class="menuPage" id="Logo" href="{{ site.baseurl | relative_url }}" style="padding:12px 16px 8px 16px;">
        <img class="logo" src="{{ '/assets/logo/JK.png' | relative_url }}" alt="JK_logo">
    </a>
    
    {% if page.layout == 'home' %}
        <a class="menuPage activePage" id="Home" href="{{ /#home | relative_url }}">Home</a>
    {% else %}
        <a class="menuPage" id="Home" href="{{ '/#home' | relative_url }}">Home</a>
    {% endif %}

    <a class="menuPage" id="Bio" href="{{ '/#bio' | relative_url }}">Bio</a>
    {% if site.projects.size > 0 %}
        <a class="menuPage" id="Projects" href="{{ '/#projects' | relative_url }}">Projects</a>
    {% endif %}
    {% if site.blog.size > 0 %}
        <a class="menuPage" id="Blog" href="{{ '/#blog' | relative_url }}">Blog</a>
    {% endif %}
    <a class="menuPage" id="CV" href="{{ '/assets/CV/KitchensJames_CV.pdf' | relative_url }}" target="_blank">CV</a>
    <a href="javascript:void(0);" class="menuBurger icon" onclick="hamburger()">
        <i class="fa fa-bars"></i>
    </a>
</div>